*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    
}
.Header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 11px;
    font-weight: 400;
}
.IconTitel{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Icon{
    width: 67px;
    height: 67px;
    background-image: url(img/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Text{
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
.BigTitle1{
    font-size: 40px;
    font-weight: Bold;
    letter-spacing: 1px;
}
.BigTitle2{
    font-size: 40px;
    font-weight: Bold;
    letter-spacing: 1px;
    position: relative;
    left: -4px;
    margin-bottom: 6px;
}
.SmallTitle1{
    font-size: 24px;
}
.SmallTitle2{
    font-size: 24px;
    margin-bottom: 40px;
}
.Rectangle{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.086) ;
    padding-top: 20px;
}
.Info{
    width: 550px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.Info1{
    width: 550px ;
    height: 75px;
    display: flex;
    flex-direction: row;
}
.Name{
    width: 275px ;
    height: 75px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.NameText{
    width:270px ;
    height: 39px;
    display: flex;
    font-weight: 500;
    border-radius: 8px;
    font-size: 13px;
    background-color: white;
    color: black;
    padding : 10px 10px 10px 10px;
}
.EmailCmp{
    width: 275px ;
    height: 75px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.EmailText{
    width:270px ;
    height: 39px;
    font-size: 16px;
    display: flex;
    font-weight: 500;
    border-radius: 8px;
    font-size: 13px;
    background-color: white;
    color: black;
    padding : 10px 10px 10px 10px;
}
.Info2{
    width: 550px ;
    height: 75px;
    display: flex;
    flex-direction: row;
    
}
.Sizecmp{
    width: 275px ;
    height: 75px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.SizeText{
    width:270px ;
    height: 39px;
    font-size: 16px;
    display: flex;
    font-weight: 500;
    border-radius: 8px;
    font-size: 13px;
    background-color: white;
    color: black;
    padding : 10px 10px 10px 10px;
}
.Subject{
    width: 275px ;
    height: 75px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.SubjectText{
    width:270px ;
    height: 39px;
    font-size: 16px;
    display: flex;
    font-weight: 500;
    border-radius: 8px;
    font-size: 13px;
    background-color: white;
    color: black;
    padding : 10px 10px 10px 10px;
}
.Message{
    width: 550px ;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 3px;
}
.MessageText{
    width:550px ;
    height: 220px;
    font-size: 16px;
    display: flex;
    position: relative;
    font-weight: 500;
    border-radius: 9px;
    font-size: 13px;
    background-color: white;
    color: black;
    text-transform: 20px center;
    padding : 10px 10px 10px 10px;
}
.Contact{
    width: 550px ;
    height: 45px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background-color: rgba(255, 255, 255) ;
    color: #7b34ad;
    font-weight: 700;
    font-size: 13px;
}
