.body{
    background-color: rgb(7, 138, 170);
    overflow: hidden; /* Prevent scrolling */
}
.upCircle{
    transform: translate(-340px ,-320px);
    width: 900px;
    height: 900px;
    background-image: url(img/bg-pattern-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.downCircle{
    transform: translate(900px , -1120px);
    width: 900px;
    height: 900px;
    background-image: url(img/bg-pattern-bottom.svg);
    z-index: -1;
}
.Rectangle{
    transform: translate(500px, -800px);
    width: 450px;
    height: 500px;
    margin: 20px ;
    border-radius: 25px; ;
    background-color: rgb(190, 57, 57);
    z-index: 1;
}
.downRectg{
    transform:  translate(0px , 200px);
    width: 450px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.940) ;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}
.upRectg{
    transform: translate(0px , -310px);
    width: 450px;
    height: 210px;
    border-radius: 20px 20px 0 0;
    background-image: url(img/bg-pattern-card.svg);
    
}
.Line{
    transform: translate(00px, -114px);
    width: 449px;
    height: .2px;
    background-color: rgb(2, 2, 2);
    border-radius: 1%;
    z-index: 1;
}